In [4]:
#menggunakan pandas dataframe
data = {
    'apple':[3, 2, 0, 1],
    'orange':[0, 3, 7, 2],
     }
data

{'apple': [3, 2, 0, 1], 'orange': [0, 3, 7, 2]}

In [5]:
import pandas as pd
purchases = pd.DataFrame(data)
purchases

   apple  orange
0      3       0
1      2       3
2      0       7
3      1       2

In [8]:
purchases= pd.DataFrame(data, index=['ali','aji','ani','aku'])
purchases

     apple  orange
ali      3       0
aji      2       3
ani      0       7
aku      1       2

In [9]:
purchases.loc['ali']

apple     3
orange    0
Name: ali, dtype: int64

In [10]:
purchases.loc['ani']

apple     0
orange    7
Name: ani, dtype: int64

In [12]:
purchases.head(0)

Empty DataFrame
Columns: [apple, orange]
Index: []

In [14]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, ali to aku
Data columns (total 2 columns):
apple     4 non-null int64
orange    4 non-null int64
dtypes: int64(2)
memory usage: 256.0+ bytes

In [15]:
purchases.shape

(4, 2)